<section id="projects" class="padbot20">
			
			<!-- OUR CLIENTS -->
			<div class="our_clients">

				<!-- CONTAINER -->
				<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
					
					<!-- ROW -->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/1.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/2.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/3.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/4.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/5.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/6.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/7.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/8.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/9.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/10.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/11.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/12.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/13.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/14.png") %>
						</div>
					</div><!-- //ROW -->
				</div><!-- CONTAINER -->
			</div><!-- //OUR CLIENTS -->
		</section>