<section id="projects" class="padbot20">
			
			<!-- OUR CLIENTS -->
			<div class="our_clients">

				<!-- CONTAINER -->
				<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
					
					<!-- ROW -->
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-01.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-02.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-03.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-04.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-05.png") %>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 client_img">
							<%= image_tag ("clients/logos-06.png") %>
						</div>
					</div><!-- //ROW -->
				</div><!-- CONTAINER -->
			</div><!-- //OUR CLIENTS -->
		</section>