<section id="inscricao">
<div class="purpose_block">
<canvas id="waves" width="1263" height="377" style="bottom: 269px; position: absolute;  width: 1263px; height: 377px;"></canvas>
		<!-- CONTAINER -->
		<div class="container">

			<!-- ROW -->
			<div class="row">

				<div class="col-lg-6 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
					<h2 class="title">Documentos</h2>
					<!-- <p><b>Se você perdeu o prazo, poderá se inscrever na nossa próxima edição!</b> -->
					</p>
					<!-- <a class="btn" href="javascript:void(0);" >Trabalhos</a> -->
					<div class="col-lg-12 col-md-12 col-sm-12"> 
 							<%= link_to 'Projetos selecionados para apresentação', "assets/doc/CLASSIFICADOS_FEIRA.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
 							<%= link_to 'Oficinas selecionadas para apresentação', "assets/doc/CLASSIFICADOS_OFICINAS_E_MINICURSOS.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>	
 							<%= link_to ' Projetos selecionados para boas práticas', "assets/doc/CLASSIFICADOS_BOAS_PRATICAS.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
 								
 							<%= link_to 'Cronograma', "assets/doc/Cronograma.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
 							<%= link_to 'Caderno de Programação', "assets/doc/Caderno-de-Programacao-online.pdf", class:"btn btn-active btnRegulamento", target: "_blank" %>
	
					</div>

				</div>

				<div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
					<%= image_tag ("img1.png"), class: "ipad_img1" %>
				</div>
			</div><!-- //ROW -->
		</div><!-- //CONTAINER -->
	</div><!-- //MULTI PURPOSE -->
</section>

