<!-- PAGE -->
<div id="page">
	
	<!-- HEADER -->
	<%= render "layouts/header" %>
	<!-- //HEADER -->

	<!-- HOME -->
	<%= render "home" %>
	<!-- //HOME -->
	
	<!-- ABOUT -->
	<%= render "atividades" %>
	<!-- //ABOUT -->

	<!-- ABOUT -->
	<%= render "about" %>
	<!-- //ABOUT -->
	
	<!-- ABOUT -->
	<%= render "inscricao" %>
	<!-- //ABOUT -->
			
	<!-- PROJECTS -->
	 <%= render "clientes" %>
	<!-- //PROJECTS -->	
		
	<!-- TEAM -->
	 <!-- render "team" %> -->
	<!-- //TEAM -->
			
	<!-- NEWS -->
	 <!-- render "news" %> -->
	<!-- //NEWS -->
</div><!-- //PAGE -->
	
<!-- CONTACTS -->
<%= render "contacts" %>
<!-- //CONTACTS -->
	
	

